@page
@model DatabaseModel
@{
    ViewData["Title"] = "Database";
}
<div class="text-center" style="padding-bottom: 30px;">
    <div class="alert alert-secondary" role="alert">There are @Model._publicationList.Count publications in the database.</div>
</div>
<p>@Model._publicationList.Count</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">DocumentId</th>
      <th>Title</th>
      <th>Responsible Code</th>
      <th>Alpha Descriptor</th>
      <th>Date Requested</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var pub in Model._publicationList)
    {
        <tr>
            <th scope="row"><a href="~/Publication?id=@pub.DocumentId">@pub.DocumentId</a></th>
            <td>@pub.Title</td>
            <td>@pub.ResponsibleCode.Code</td>
            <td>@pub.AlphaDescriptor.Code</td>
            <td>@pub.DateEntered</td>
        </tr>
    }
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>